/*----- Contains various styles for different components specific to each page ----*/

// Container styles

.home__contact {
    background-color: $custom-brown;
    padding-bottom: 2em;

}

.home__contact--sub {
    font-size: 1.5em;
}


// Contact

.contact__icons {
    display: flex;
    flex-direction: column;

    a {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        text-decoration: none;
        padding-bottom: 1em;


    }

    a:hover {
        color: $custom-orange;
        transition: 0.5s;
    }

}

@media only screen and (min-width:768px) {
    .contact__icons {
        a {
            font-size: 2em;
        }
    }

}

// Web-Card

.card__web--flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


// Projects
.project__title {
    color: $custom-orange;
}

.project__row--main {
    position: relative;
    z-index: 1;
    background-color: WHITE;

}

.project__image--large {
    margin-bottom: 4em;

}

.project__image--group {
    background-color: $custom-blue;
    padding: 3em;
    margin-bottom: 1em;
}

.project__number {
    h3 {
        padding-bottom: 1em;

    }

    h3:before {
        font-size: 6em;
        font-weight: 700;
        color: $custom-brown;
        position: relative;
        z-index: -1;
        opacity: 0.2;
        right: -2rem;


    }
}

.project__number--one {
    h3:before {
        content: "01";
    }
}

.project__number--two {
    h3:before {
        content: "02";
    }
}

.project__number--three {
    h3:before {
        content: "03";
    }
}